@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: "Manrope", serif;
  }

  h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
  }

  h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.15px;
  }

  h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
  }

  h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.7px;
  }

  h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.3px;
  }

  p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
  }
}

@layer components {
  .overline {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    color: #D87D4A;
  }

  .sub-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #D87D4A;
  }

  .burger-menu {
    position: relative;
    width: 16px;
    height: 3px;
    padding: 8px;
    background-image: url('./assets/icons/burger-stick-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .burger-menu::before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 3px;
    background-color: white;
    top: 0;
  }

  .burger-menu::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 3px;
    background-color: white;
    bottom: 0;
  }

  .cart-icon {
    height: 20px;
    width: 23px;
    background-image: url('./assets/shared/desktop/icon-cart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .flex-column-center {
    @apply flex flex-col justify-center items-center;
  }

  .orange-line {
    position: absolute;
    width: 101px;
    height: 4px;
    background-color: #D87D4A;
    top: 0;
  }
}